@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

/* section-5 by Pragati */

#chap {
  padding: 3% 7% 3% 7%;
  font-family: "Montserrat";
  display: center;
}
.chap-line {
  font-size: 1.8em;
}
.chap-para {
  color: #2b2d42;
  font-size: 1.3em;
  display: inline-block;
}

@media (max-width: 770px) {
  .chap-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  #chap {
    padding: none;
  }
}

/* Caregiver setion-3 by Pragati */
#caregiver {
  background-color: #f3f5f9;
  padding: 3% 7% 3% 7%;
  font-family: "Montserrat";
  text-align: center;
}
.caregiver-title {
  font-weight: bolder;
}
.caregiver-main-title {
  font-size: 1.8em;
}
.circle {
  position: relative;
  height: 55px;
  width: 55px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  z-index: 1;
}
.frame {
  position: relative;
  top: 0.5em;
}
.lines {
  position: relative;
  top: 5em;
}
.best-caregiver {
  color: #ff8400;
  font-weight: bolder;
  display: inline;
  font-size: 1em;
}
.caregiver-des {
  padding: 0 7% 0 7%;
}
@media (max-width: 770px) {
  .lines {
    display: none;
  }
}

/* footer starts by Pragati */

#footer {
  padding: 3% 7% 3% 7%;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}
.footer_headings {
  color: #ff8400;
  font-weight: bolder;
  display: inline;
  font-size: 1em;
}
.footer_col1 {
  line-height: 3.7ex;
  font-size: 0.8em;
}
.footer_col23 {
  line-height: 3.7ex;
  font-size: 0.8em;
}
.description {
  font-weight: normal;
}
.email-input {
  margin-top: 1%;
}
.btn-submit {
  border-radius: 0%;
  margin-top: 5%;
}
.footer-img {
  margin-top: 5%;
  height: 4em;
  width: 4em;
  margin-right: 3%;
}
.footer_col4 {
  margin-top: 0em;
}
.social-icon {
  margin: 5% 2% 0% 2%;
  color: #0047ab;
}
#Horizontal-line {
  border-top: 1px dotted #8c8b8b;
  padding: 0%;
}
.footer-heading-line {
  width: 2em;
  /* border-style: solid; */
  border: 1px solid #ff8400;
  margin: 0;
  margin-top: 2%;
  margin-bottom: 5%;
}

.border-circle {
  height: 11px;
  width: 11px;
  /* background-image: linear-gradient(to bottom right, #ffc03d, #ff8b08); */
  border-radius: 50%;
  border-width: 3px;
  border: solid;
  border-color: #ff8400;
  display: inline-block;
}

.footerButton {
  background: #0047ab;
  border-radius: 5%;
  color: white;
  margin: 3% 0% 3% 0%;
}
.email-input {
  width: 100%;
  top: 10%;
}
.footerPara {
  font-size: 0.8em;
  color: #5f6377;
}
.copyright {
  font-size: 0.9em;
  display: inline;
}
.social-icons {
  padding-left: 1%;
  padding-right: 1%;
  color: #0047ab;
  top: 10%;
  font-size: xx-large;
}
.footer-logos {
  margin-bottom: 4%;
}
.mobile-col1 {
  display: none;
}
@media (max-width: 770px) {
  .logo {
    display: none;
  }

  .footer-logos {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 4%;
  }
  .footerButton {
    display: block;
    margin-left: auto;
    width: 30%;
  }
  .followUs {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
  }
  .footer_col1 {
    display: none;
  }
  .mobile-col1 {
    display: inline;
    font-size: 0.8em;
  }
  .copyright {
    font-size: 0.7em;
  }
}

/* Review Section-4 by Pragati */
#review {
  background-image: linear-gradient(to bottom right, #fff1e1, #fffbf7, #ffffff);
  padding: 3% 7% 3% 7%;
  font-family: "Montserrat", sans-serif;
}
.card {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 5px #ccc;
  padding: 4%;
  width: 230px;
  height: 230px;
  margin: 16px;
  float: left;
}
.card-title {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.card-des {
  font-size: 0.9em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.main-star {
  padding-left: 1%;
  padding-right: 1%;
  color: #ffc107;
  font-size: xx-large;
}
.star {
  padding-left: 0.5%;
  padding-right: 0.5%;
  color: #ffc107;
  font-size: medium;
  display: inline;
}
.more-reviews {
  color: #0047ab;
  padding-left: 5%;
}

/* review section for mobile */
/* slider css */
.horizontal_slider {
  display: block;
  width: 100%;
  overflow-x: scroll;
  margin-top: 15px;
  padding: 20px;
}
.slider_container {
  display: block;
  white-space: nowrap;
}
.item {
  display: inline-block;
  margin-right: 2px;
}
.item card {
  width: 400px;
}
